.photoPage {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  @media (max-width:768px) {
    width: 80%;
  }

  .photoContainer {
    display: flex;
    flex-direction: column;
    align-content: center;


    .photoDetails {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      font-size: .9rem;
      margin: 15px 0;
      position: relative;
      @media (max-width:768px) {
        flex-direction: column;
        align-items: flex-start;
      }

      p {
        padding: 0;
        margin: 0;
        line-height: 1.5rem;
      }

    }

    .fb-like {
      position: absolute;
      top: calc(100% + 30px);
      right: 16px;
    }

    .downloadButton {
      @media (max-width:768px) {
        margin: 20px -10px 10px;
      }
    }

    img {
      display: block;
      max-height: 65vh;
      width: auto;
      max-width: 100%;
      object-fit: contain;
      box-shadow: 0 1px 1px rgba(102, 119, 136, 0.9)
    }
  }
}